.footer__block h4 {
  border-top: solid 1px #495057;
  border-bottom: solid 1px #495057;
  padding: 15px 0;
  margin-bottom: 30px;
  font-size: 0.9rem;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.row{
  margin-bottom: 1rem;
}

td{
  text-align: left;
  padding-left: 50px;
}

.footer{
  background-color: rgb(238, 238, 238);
  padding-top: 4%;
}
