<div class="navbar navbar-expand-lg">
  <div class="container d-flex justify-content-center">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav mx-auto">
        <li class="nav-item active">
          <a [routerLink]="['/home']" routerLinkActive="active"class="nav-link" >
            Homepage
          </a>
        </li>
        <li class="nav-item dropdown active" *ngIf="authService.isLoggedIn()">
          <a [routerLink]="['/shop']" routerLinkActive="active" class="nav-link dropdown-toggle">
            Shop
          </a>
          <div class="dropdown-content">
            <li class="dropdown-item">
              <a [routerLink]="">Men's clothing</a>
            </li>
            <li class="dropdown-item">
              <a [routerLink]="">Women's clothing</a>
            </li>
            <li class="dropdown-item">
              <a [routerLink]="">Jewelery</a>
            </li>
            <li class="dropdown-item">
              <a [routerLink]="">Electronics</a>
            </li>
          </div>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            About
          </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

