<div class="shop-container row">
  <div class="col-lg-3">
    <div class="list-heading">
      <h5>Categories</h5>
    </div>
    <ul class="men-category list-group">
      <li>
        <a href="" class="nav-link d-flex align-items-center justify-content-between">
          Men
        </a>
      </li>
      <li class="list-group-item"><a href="">Shirts</a></li>
      <li class="list-group-item"><a href="">Pants</a></li>
      <li class="list-group-item"><a href="">T-shirts</a></li>
      <li class="list-group-item"><a href="">Accessories</a></li>
    </ul>
    <ul class="girls-category list-group">
      <li>
        <a href="" class="nav-link d-flex align-items-center justify-content-between">
          Girls
        </a>
      </li>
      <li class="list-group-item"><a href="">Shirts</a></li>
      <li class="list-group-item"><a href="">Pants</a></li>
      <li class="list-group-item"><a href="">T-shirts</a></li>
      <li class="list-group-item"><a href="">Accessories</a></li>
    </ul>
  </div>
  <div class="col-lg-9">
  
  </div>
</div>


